services:
  rabbitmq:
    image: "rabbitmq:alpine"
    restart: always
    networks:
      - backend

  database:
    build: src/database
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: postgres
    networks:
      - backend

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - backend
      - frontend

  api-server:
    build:
      context: src/
      dockerfile: Api-server/Dockerfile
    restart: always
    ports:
      - 5104:8080
    networks:
      - frontend
      - backend
    depends_on:
      - database
      - rabbitmq



networks:
  frontend:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.host_binding_ipv4: "127.0.0.1"
  backend:
    driver: bridge
    internal: true
