services:
  indexer:
    build: 
      context: src/
      dockerfile: indexer/Dockerfile
    environment: 
      RabbitMQ__host: "rabbitmq"
      EMBEDDER_MODEL_URL: /ai-models/nomic-embed-text-1.5-F16.gguf
    volumes:
      - ./src/ai-models/:/ai-models/
    networks:
      - backend
    depends_on:
      - rabbitmq
      - database


  rabbitmq:
    image: "rabbitmq:alpine"
    restart: always
    networks:
      - backend

  database:
    build: src/database
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - backend
      - frontend

  api-server:
    build:
      context: src/
      dockerfile: api-server/Dockerfile
    restart: always
    environment: 
      EMBEDDER_MODEL_URL: /ai-models/nomic-embed-text-1.5-F16.gguf
      ConnectionStrings__Default: "Host=database;Port=5432;Database=postgres;Username=postgres;Password=postgres"
    volumes:
      - ./src/ai-models/:/ai-models/
    ports:
      - 5104:8080
    networks:
      - frontend
      - backend
    depends_on:
      - database
      - rabbitmq

volumes:
  postgres_data:

networks:
  frontend:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.host_binding_ipv4: "127.0.0.1"
  backend:
    driver: bridge
    internal: true
